/* Carousel Module */
.javelin_module-carousel .javelin_moduleContent {
    position: relative;
}

.javelin_dialog .javelin_module-carousel .javelin_moduleContent {
    position: static;
}

.cms-carousel {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}


/* Slides */
.cms-carousel-inner {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 10 !important;
}

.cms-carousel-slide {
    width: 100%;
    height: 100%;
    display: none;
    
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.cms-carousel-rotator .cms-carousel-slide {
    padding-left: 15px;
    padding-right: 15px;
    position: relative !important;
}

.cms-carousel-media {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 10 !important;
}

.cms-carousel-media img {
    width: 100% !important;
    max-width: 100%;
    height: auto !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.cms-carousel-text {
    color: #fff;
    line-height: 1.5;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
    position: absolute;
    z-index: 30 !important;
}

.cms-carousel-text.top {
    top: 40px;
}

.cms-carousel-text.bottom {
    bottom: 40px;
}

.cms-carousel-text.middle {
    top: 25%;
}

.cms-carousel-text.left {
    left: 15%;
    right: 50%;
}

.cms-carousel-text.right {
    text-align: right;
    left: 50%;
    right: 15%;
}

.cms-carousel-text.center {
    text-align: center;
    left: 15%;
    right: 15%;
}

.cms-carousel-title {
    color: inherit;
}

.cms-carousel-link {
    margin-bottom: 20px;
    color: inherit;
}

.cms-carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20 !important;
}


/* Previous and Next Controls */
.cms-carousel-next,
.cms-carousel-prev {
    width: 15%;
    color: #fff;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 30 !important;
}

.cms-carousel-arrow {
    width: 50px;
    height: 50px;
    margin-top: -25px;
    background-size: 50px 50px;
    line-height: 1;
    display: inline-block;
    position: absolute;
    top: 50%;
}

.cms-carousel-prev {
    left: 0;
}

.cms-carousel-next {
    right: 0;
}

.cms-carousel-prev .cms-carousel-arrow {
    margin-left: -25px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE4LjEuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNoZXZyb25fdGhpbl9sZWZ0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiCgkgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTEzLjg5MSwxNy40MThjMC4yNjgsMC4yNzIsMC4yNjgsMC43MDksMCwwLjk3OWMtMC4yNjgsMC4yNy0wLjcwMSwwLjI3MS0wLjk2OSwwbC03LjgzLTcuOTA4CgljLTAuMjY4LTAuMjctMC4yNjgtMC43MDcsMC0wLjk3OWw3LjgzLTcuOTA4YzAuMjY4LTAuMjcsMC43MDEtMC4yNywwLjk2OSwwYzAuMjY4LDAuMjcxLDAuMjY4LDAuNzA5LDAsMC45NzlMNi43NSwxMEwxMy44OTEsMTcuNDE4Cgl6Ii8+Cjwvc3ZnPg==);
    left: 50%;
}

.cms-carousel-next .cms-carousel-arrow {
    margin-right: -25px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE4LjEuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNoZXZyb25fdGhpbl9yaWdodCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IgoJIHk9IjBweCIgdmlld0JveD0iMCAwIDIwIDIwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyMCAyMCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0xMy4yNSwxMEw2LjEwOSwyLjU4Yy0wLjI2OC0wLjI3LTAuMjY4LTAuNzA3LDAtMC45NzljMC4yNjgtMC4yNywwLjcwMS0wLjI3LDAuOTY5LDBsNy44Myw3LjkwOAoJYzAuMjY4LDAuMjcxLDAuMjY4LDAuNzA5LDAsMC45NzlsLTcuODMsNy45MDhjLTAuMjY4LDAuMjcxLTAuNzAxLDAuMjctMC45NjksMGMtMC4yNjgtMC4yNjktMC4yNjgtMC43MDcsMC0wLjk3OUwxMy4yNSwxMHoiLz4KPC9zdmc+);
    right: 50%;
}


/* Pager */
.cms-carousel-pager {
    width: 60%;
    margin: 0 0 0 -30%;
    line-height: 1;
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 20px;
    z-index: 20 !important;
    list-style: none;
}

.cms-carousel-pager li {
    width: 10px;
    height: 10px;
    margin: 1px 4px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    list-style: none;
    
    -webkit-transition: background-color .2s ease, border-color .2s ease;
       -moz-transition: background-color .2s ease, border-color .2s ease;
            transition: background-color .2s ease, border-color .2s ease;
}

.cms-carousel-pager li:hover {
    background-color: rgba(255, 255, 255, .5);
    border-color: rgba(255, 255, 255, .5);
}

.cms-carousel-pager li.active {
    width: 12px;
    height: 12px;
    margin: 0 3px;
    background-color: #08c;
    border-color: #08c;
}


/* Screen Reader Only text */
.sr {
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    position: absolute;
    clip: rect(0, 0, 0, 0);
}